html,
body,
section,
div,
input,
#pac-input {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

#map {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

a {
    text-decoration: none;
}

.container a {
    color: white;
}

.container a:hover {
    color: black;
}

.container {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 260px;
    padding: 0.3em 0.3em 0;
    z-index: 999;
    border: 2px solid black;
    background: #cfcfcf;
    box-shadow: inset 0px 0.2em 60px 0px rgba(0, 0, 0, 0.9);
}

#search {
    height: 35px;
}

#loading {
    margin-top: 5em;
    text-align: center;
}

#loading img {
    width: 50px;
    height: 100%;
}

#results {
    max-height: 95%;
    overflow-y: auto;
    overflow-x: hidden;
}

#results::-webkit-scrollbar {
    width: 14px;
    background-color: #afafaf;
    border: 1px solid black;
    box-shadow: 0px 0px 5px 0px black;
}

#results::-webkit-scrollbar-thumb {
    background-color: #B03C3F;
    min-height: 50px;
}

#results::-webkit-scrollbar-thumb:hover {
    background-color: #BF4649;
    border: 1px solid #333;
}

#results::-webkit-scrollbar-thumb:active {
    background-color: #A6393D;
    border: 1px solid white;
}

#results::-webkit-scrollbar-track {
    border: 1px solid black;
}

#pac-input {
    height: 30px;
    font-size: 0.8em;
    width: 100%;
    padding-left: 0.5em;
    border: 1px solid black;
    box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.4);
}

.meetup {
    border: 1px solid black;
    padding: 0 0.5em;
    margin-bottom: 0.25em;
    margin-right: 0.25em;
    background-color: rgba(176, 60, 63, 0.8);
}

.meetup:hover {
    background-color: rgba(176, 60, 63, 0.65);
}

.meetup h1 {
    font-size: 0.88em;
    font-weight: 900;
}

.meetup h2,
.meetup p {
    font-size: 0.8em;
}