* { 
    box-sizing: border-box; 
}

html, 
body, 
#map { 
    margin: 0; 
    padding: 0; 
    height: 100%; 
}

.container {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 260px;
    padding: .3em .3em 0;
    z-index: 999;
    border: 2px solid black;
    background: #cfcfcf;
    box-shadow: inset 0px .2em 60px 0px rgba(0, 0, 0, 0.8);
}

#search {
    height: 35px;
}

#results {
    border: 1px solid black;
    padding-left: .5em;
    padding-right: .5em;
    padding-bottom: .5em;
    max-height: 95%;
    overflow: auto;
}

#pac-input {
    height: 30px;
    font-size: .8em;
    width: 100%;
    padding-left: .5em;
    border: 1px solid black;
    box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.4);
}